pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font: normal normal 14px/16px "Courier New", Courier, Monospace;
    line-height: 1.0;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: .5em 1em;
    display: block;
    word-wrap: break-word;
    margin-left: 20px;
    overflow: auto;
    overflow-x: auto;
    white-space: pre-wrap;
    counter-reset: line;
}

code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #bcbec0;
    padding: 2px;
    font: normal normal 14px / 16px "Courier New", Courier, Monospace;
}

pre code {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    padding: 0px;
    font: normal normal 14px / 16px "Courier New", Courier, Monospace;
}

pre .line-number {
    user-select: none;
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid;
    text-align: right;
}

pre .line-number span {
    display: block;
    padding: 0 .5em 0 1em;
}

pre .cl {
    display: block;
    clear: both;
}
